.scoreboard {
	display: flex;
	justify-content: center;
	gap: 40px;
	align-items: center;
	width: fit-content;

	margin: 20px auto;
	padding: 12px 20px;

	border: 1px solid #000;
	border-radius: 10px;
	background-color: #fff;

	font-size: 1.1rem;
	font-weight: 600;

	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
